<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.pccitos.gcsettings" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="es.pccitos.gcsettings.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="es.pccitos.gcsettings.ActivityListApps"
            android:label="@string/title_activity_list_apps" >
        </activity>
        <activity
            android:name="es.pccitos.gcsettings.Acercade"
            android:label="@string/title_activity_acercade" >
        </activity>
    </application>

</manifest>
